#body{
    background-image: url(../images/emptyblackpeppegashy.png);
    background-repeat: no-repeat;
    background-size: cover;
}


#box {
    display: flex;
    flex-direction: column;
    height: 1500px;
    width: 80%;
    border: 2px solid black;
    margin: auto;
    background-color: rgba(97, 93, 93, 0.5);
    box-shadow: inset -5px -5px rgba(250, 238, 238, 0.5);
    border-radius: 26px;
    margin-top: 17px;
    padding-left: 20px;
    padding-right: 20px;
}

#leads {
    height: 280px;
    width: 280px;
    padding-left: px;
    padding-top: 20px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1 {
    font-family: 'Syne Mono', monospace;
    color: #ffffff;
    border: solid;
    border-color: #000000;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    cursor: pointer;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__container_2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__container_3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__container_4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card1 {
    margin: 1rem;
    height: 250px;
    width: 250px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(141, 138, 138, 0) 0%, rgba(17, 17, 17, 0.6) 100%), 
    url('/images/dawg2.png');
    background-size: cover;
    position: relative;
    border: solid;
    border-color: black;
}

.services__card2 {
    margin: 2.5rem;
    height: 250px;
    width: 250px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(141, 138, 138, 0) 0%, rgba(17, 17, 17, 0.6) 100%), 
    url('/images/dawg.png');
    background-size: cover;
    position: relative;
    border: solid;
    border-color: black;
}

.services__card2:nth-child(2) {
    background-image: linear-gradient(to top, rgba(134, 130, 130, 0) 88%, rgba(214, 200, 200, 0.6) 95%),
    url('/images/eyebrowsDoggo.png');
}

.services__card3 {
    margin: 2.5rem;
    height: 250px;
    width: 250px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(141, 138, 138, 0) 0%, rgba(17, 17, 17, 0.6) 100%), 
    url('/images/dawg3.png');
    background-size: cover;
    position: relative;
    border: solid;
    border-color: black;
}

.services__card3:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17 , 0.6) 100%),
    url('/images/Fab\ Doggo.png');
}

.services__card4 {
    margin: 2.5rem;
    height: 250px;
    width: 250px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(141, 138, 138, 0) 0%, rgba(17, 17, 17, 0.6) 100%), 
    url('/images/windoggo.png');
    background-size: cover;
    position: relative;
    border: solid;
    border-color: black;
    
    
}

.services__card4:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17 , 0.6) 100%),
    url('/images/crazydoggo.png');
}

.services h2 {
    padding-left: 50px;
    color: black;
    margin-top: -1px;
    border: solid;
    border-color: black;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    font-family: 'Syne Mono', monospace;
    font-size: 20px;
}

.Back{
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.Back {
    font-size: 25px;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, #dbd0cf 100%);
    border: none;
    border-radius: 50px;
    color: rgb(231, 218, 218);
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    font-family: 'Syne Mono', monospace;
    float: right;
}

.Back a {
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to top, #f1ebeb 0%, black 0%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
}

.Back:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(122, 120, 120);
    transition: all 0.35s;
    border-radius: 50px;
}

.Back:hover {
    color: #fff;
}

.Back:hover:after {
    width: 100%;
}